{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 72,
  "plugins": ["prettier-plugin-astro"],
  "overrides": [
    {
      "files": "*.astro",
      "options": { "parser": "astro" }
    }
  ]
}
